<?php 
if($this->pageCount > 1) 
{  
    $url = $this->url($this->route).'/'; 
    
    if(isset($this->text) && $this->text != '')
        $url .= $this->text.'/';
    
    $grid = '#'; 
    $class_disabled = ' class="disabled"';  
    
    if($this->first != $this->current) 
    {
        $first_href = $url.$this->first;
        $first_class = '';
    }
    else
    { 
        $first_href = $grid;
        $first_class = $class_disabled;
    } 
    
    if(isset($this->previous)) 
    {
        $previous_href = $url.$this->previous;
        $previous_class = '';
    }
    else
    { 
        $previous_href = $grid;
        $previous_class = $class_disabled;
    } 
    
    if(isset($this->next)) 
    {
        $next_href = $url.$this->next;
        $next_class = '';
    }
    else
    { 
        $next_href = $grid;
        $next_class = $class_disabled;
    }  
    
    if($this->last != $this->current) 
    {
        $last_href = $url.$this->last;
        $last_class = '';
    }
    else
    { 
        $last_href = $grid;
        $last_class = $class_disabled;
    }

?>
<div class="pagination pagination-centered">
    <ul>
        <!-- First page link -->
        <li<?php echo $first_class?>><a href="<?php echo $first_href?>">&laquo;</a></li>
        <!-- Previous page link -->
        <li<?php echo $previous_class?>><a href="<?php echo $previous_href?>">&lsaquo;</a></li>
        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page) {
            if($page != $this->current) { ?><li><a href="<?php echo $url.$page?>"><?php echo $page?></a></li>
            <?php } else { ?>
            <li class="active"><a href="<?php echo $grid?>"><?php echo $page?></a></li>
        <?php } } ?>
        <!-- Next page link -->
        <li<?php echo $next_class?>><a href="<?php echo $next_href?>">&rsaquo;</a></li>
        <!-- Last page link -->
        <li<?php echo $last_class?>><a href="<?php echo $last_href?>">&raquo;</a></li>
    </ul>
</div>
<?php } ?>