body {
    font: 12px Arial;
    margin: 0;
}
h1 {
    font-size: 18px;
}

.clear {
    clear: both;
}

.content {
    margin: 10px;
}

/* class button */
.btn2 {
    background: #3CB371;
    border: 1px outset #000;
    color: #000;
    padding: 2px 10px;
    cursor: pointer;
}
/* end class button */

/* class form */
form > label {
    display: block;
    margin-bottom: 5px; 
}
textarea {
    height: 200px;
}

.form1 .search {
    float: left;
    margin: 0 10px;
    width: 300px;
}
.form1 [name=search] {
    margin-top: 0;
}

.form2 {
    margin: 20px 0 15px;
}
.form2 > label span {
    float: left;
    width: 320px;
}
.form2 > label input, .form2 textarea {
    width: 50%;
}
/* end class form */

/* news */
ul.list1 {
    list-style: none;
    padding: 0;
}
.block1 {
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
}
div.image_small img {
    height: auto;
    max-height: 240px;
    max-width: 320px;
}
.comments, #sort_comment {
    padding: 15px 0;
}
.comments > div {
    padding: 2px 0;
}
/* and news */

.gray {
    font-size: 12px;
    font-style: italic;
    color: #888;
    font-weight: normal;
}

/* pagination */
.pagination { 
    height: 36px;
    margin: 18px 0;
}
.pagination-centered { 
    text-align: center;
}
.pagination ul { 
    list-style: none;
}
.pagination ul li {
    display: inline-block;
    padding: 0 2px;
}
.pagination .disabled a {
    color: #999;
}
.pagination .disabled a, .pagination .active a { 
    cursor: default;
}
.pagination .active a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
/* end pagination */