<?php echo $this->doctype(); ?>
<html>
<head>
    <meta charset="utf-8">
    <base href="<?php echo $this->basePath()?>">
    <?php echo $this->headTitle('ZF2')->setSeparator(' - ')->setAutoEscape(false)?>
    <!-- Le styles -->
    <?php echo $this->headLink()->prependStylesheet('/js/fancybox/jquery.fancybox.css')
                                ->prependStylesheet('/css/style.css')?>
    <!-- Scripts -->
    <?php echo $this->headScript()->prependFile('/js/script.js')
                                  ->prependFile('/js/fancybox/jquery.fancybox.pack.js')
                                  ->prependFile('/js/jquery.min.js')?>
</head>
<body>        
<?php echo $this->navigation('navigation')->menu()->setUlClass('nav'); ?>
<div>
    <form method="post" action="/news/search" id="search" class="form1">
        <div><input type="search" name="text" class="search" autocomplete="off" placeholder="Поиск новостей" maxlength="255" required></div> 
        <input type="submit" name="search" class="btn2" value="Найти">            
    </form>
</div>
<div class="content"><?php echo $this->content?></div>
</body>
</html>

