<?php 
$title = 'Новости';
$this->headTitle($title);

if(isset($message)) echo '<h1>'.$this->escapeHtml($message).'</h1>';
if($news) { ?><!-- news -->
<p>Всего новостей: <?php echo $news->getAdapter()->count()?></p>
<?php foreach($news as $row) { ?>
<ul class="list1">
<li>
    <?php if($row['img'] != '') { ?><div class="image_small"><a href="/img/news/<?php echo $row['id'].'/'.$row['img']?>" class="preview"><img src="/img/news/<?php echo $row['id'].'/'.$row['img']?>" alt=""></a></div><?php } ?>
    <div><h1><a href="/news/view/<?php echo $row['id']?>"><?php echo $this->escapeHtml($row['title'])?></a> <span class="gray"><?php echo date('d.m.Y H:i:s', strtotime($row['date_add']))?></span></h1>
    <?php echo $this->escapeHtml($row['short_text'])?></div>
</li>
</ul>
<?php } ?><!-- end news -->
<?php } ?><!-- paginator -->
<?php echo $this->paginationControl(
    $news,
    // the scrolling style; see http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
    'sliding',
    // the partial to use to render the control
    array('partial/paginator.phtml', 'News'),
    // the route to link to when a user clicks a control link
    $route
);
?><!-- end paginator -->