<?php if($one_news) {  ?>
<div class="block1">
    <?php if($one_news['img'] != '') { ?><div class="image_small"><a href="/img/news/<?php echo $one_news['id'].'/'.$one_news['img']?>" class="preview"><img src="/img/news/<?php echo $one_news['id'].'/'.$one_news['img']?>" alt=""></a></div><?php } ?>
    <div><h1><?php echo $one_news['title']?> <span class="gray"><?php echo date('d.m.Y H:i:s', strtotime($one_news['date_add']))?></span></h1>
    <?php echo $one_news['text']?></div>
</div>
<!-- form comment --><div class="block1">
<?php $form = $this->form;
$form->setAttribute('action', $this->url('news', array('action' => 'view', 'id' => $one_news['id'])));
$form->setAttribute('class', 'form2');
$form->setAttribute('id', 'form_comment');
$form->prepare();

echo $this->form()->openTag($form).
        $this->formHidden($form->get('news_id')).
        $this->formRow($form->get('uname')).
        $this->formRow($form->get('email')).
        $this->formRow($form->get('text')).'<br>'.
        $this->formSubmit($form->get('submit')).
    $this->form()->closeTag();
?>
</div><!-- end form comment -->
<?php } 
if($message != '') { ?><div class="message"><?php echo $message?></div><?php } 
if($comments) { ?>
<!-- comments --><div id="sort_comment"></div>
<div class="comments">
<?php foreach($comments as $row) {?>
<div>
    <div class="gray"><?php echo $row['uname'].' '.$row['email'].' '.date('d.m.Y H:i', strtotime($row['date_add']))?></div>
    <div><?php echo $row['text']?></div>
</div><div class="clear"></div>
<?php } ?>
</div><!-- comments -->
<?php } ?>